{{define "categories"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/assets/static/categories.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>
    {{template "header" .}}
    <div class="container">
        <h1>Categories</h1>
        {{range .Categories}}
            <div class="category">
                <h2><a href="/all_posts?category_id={{.ID}}">{{.Name}}</a></h2>
                {{if .Description.Valid}}
                    <p>{{.Description.String}}</p>
                {{end}}
                <p><small>Created: {{.CreatedAt.Format "02.01.2006 15:04"}}</small></p>
            </div>
        {{else}}
            <p>No accessible categories.</p>
        {{end}}
    </div>
    <footer>
        <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
    </footer>
</body>
</html>
{{end}}
