{{define "error"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.ErrorTitle}}</title>
    <link rel="stylesheet" href="/assets/static/error.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>
    {{template "header" .}}
    <div class="error-container">
        <h1>{{.ErrorTitle}}</h1>
        <p>{{.ErrorMessage}}</p>
        <img src="{{.ImagePath}}" alt="Error image" class="error-image">
        <a href="/" class="home-link">Return to Home</a>
    </div>
    <footer>
        <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
    </footer>
</body>
</html>
{{end}}
