{{define "header"}}
<div class="header">
    <a href="/">
        <img src="/static/images/logo.png" alt="Логотип Literary Lions" class="logo">
    </a>
    <nav>
        <ul>
            {{if .User}}
                <li><a href="/user">{{.User.Username}}</a></li>
                <li><a href="/logout">Выход</a></li>
                <li><a href="/new-post">Добавить пост</a></li>
            {{else}}
                <li><a href="/login">Войти</a></li>
                <li><a href="/register">Регистрация</a></li>
            {{end}}
            <li><a href="/all_posts">Посты</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>
    <form action="/search" method="GET" class="search-form">
        <input type="text" name="query" placeholder="Поиск по форуму..." required>
        <select name="category">
            <option value="">Выберите категорию</option>
            <!-- Populate categories dynamically -->
            {{range .Categories}}
                <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select>
        <button type="submit">🔍</button>
    </form>
</div>
{{end}}