{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page - Literary Lions</title>
    <link rel="stylesheet" href="/assets/static/index.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>    
    {{template "header" .}}
    <div class="container">
        <h1>Welcome to Literary Lions!</h1>
        <h2>The latest posts:</h2>
        <hr>
        <ul>
            {{range .Posts}}
                <li><a href="/post/{{.ID}}">{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>

    <footer>
        <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
    </footer>

</body>
</html>
{{end}}
