{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to the site</title>
    <link rel="stylesheet" href="/assets/static/login.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>
    {{template "header" .}}

    <div class="page-container">
        <div class="container">
            <h2>Login</h2>
        
            <!-- Error message block -->
            {{if .Error}}
            <div class="error">{{.Error}}</div>
            {{end}}
        
            <!-- Form with frame -->
            <div class="login-form-container">
                <form class="login-form" action="/login" method="POST">
                    <label for="username">User name:</label>
                    <input type="text" id="username" name="username" placeholder="Enter user name" required>
        
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" required>
        
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
        
        <!-- Footer at the bottom of the page -->
        <footer>
            <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
        </footer>
    </div>
</body>
</html>
{{end}}
