{{define "new_post"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
    <link rel="stylesheet" href="/assets/static/new_post.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>
    {{template "header" .}}
    <div class="container">
    <h1>Create new post</h1>
    <form class="new-post-form" action="/new-post" method="POST">
        <label for="title">The header:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="body">Text:</label>
        <textarea name="body" id="body" required></textarea>
        <br>
        <label for="category_id">Categories:</label>
        <select name="category_id" id="category_id" required>
            {{range .Categories}}
                <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select>
        <br>
        <button type="submit">Publish</button>
    </form>
</div>
<footer>
    <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
</footer>
</body>
</html>
{{end}}