{{define "register"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        .password-toggle {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="/assets/static/register.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>
    {{template "header" .}}
    <div class="container">
    <h2>Register</h2>
    <!-- Блок для отображения ошибки -->
    {{if .Error}}
    <div class="error">{{.Error}}</div>
    {{end}}
    <form class="register-form" action="/register" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required>
        <!--<span class="password-toggle" onclick="togglePassword()">👁️</span><br><br>-->

        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

        <label for="captcha">Enter Captcha:</label><br>
        <span>{{.CaptchaQuestion}}</span><br>
        <input type="text" id="captcha" name="captcha" required><br><br>

        <input type="submit" value="Register">
    </form>    

    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            var type = passwordField.getAttribute("type") === "password" ? "text" : "password";
            passwordField.setAttribute("type", type);
        }
    </script>
    </div>
    <footer>
        <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
    </footer>
</body>
</html>
{{end}}