{{define "user_comments"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My comments</title>
    <link rel="stylesheet" href="/assets/static/user_comments.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>
    {{template "header" .}}

    <div class="container">
        <h1>My comments</h1>
        {{if .Comments}}
            {{range .Comments}}
                <div class="comment">
                    <h3>Post: {{.Title}}</h3>
                    <p>{{.Body}}</p>
                    <p><small>Created: {{.CreatedAt.Format "02.01.2006 15:04"}}</small></p>
                    <a href="/post/{{.PostID}}">Go to the post</a>
                </div>
            {{end}}
        {{else}}
            <p>No comments.</p>
        {{end}}
    </div>
    <footer>
        <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
    </footer>
</body>
</html>
{{end}}
