{{define "user_likes"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's likes {{.UserID}}</title>
    <link rel="stylesheet" href="/assets/static/user_likes.css">
    <link rel="stylesheet" href="/assets/static/header.css">
</head>
<body>
    {{template "header" .}}
    <div class="container">
        <h1>User's likes {{.UserID}}</h1>
        {{range .Likes}}
            <div class="like">
                {{if eq .TargetType "post"}}
                    <p>Пост: <a href="/post/{{.TargetID}}">Review a post</a></p>
                {{else if eq .TargetType "comment"}}
                    <p>Comments: <a href="/comment/{{.TargetID}}">Review comments</a></p>
                {{end}}
            </div>
        {{else}}
            <p>No likes.</p>
        {{end}}
    </div>
    <footer>
        <p>&copy; 2024 Literary Lions Forum | A Place for Book Lovers</p>
    </footer>
</body>
</html>
{{end}}
